$white: #fff;
$yellow: #fffbc8;
$yellowBtn: #fdd639;
$gray: #808080;
$grayLight: #cccccc;
$grayMiddle: #cecabf;
$grayDark: #333;
$grayThree:#a9a9a9;
$grayBorder: #b2b2b2;
$grayComments: #cfcfcf;
$black: #000000;
$brown: #b97b56;
$graymain: #f5f5f5;
$violet: #55719f;
$baseBlue2: #5fc6e8;
$grayTwo: #f2f2f2;
$baseBordo: #fa505d;
$red: #ea0101;
$orangered: orangered;
$orange: orange;
$gold: gold;
$olive: olive;
$greenDark: #83b26d;
$green: #b1e19b;
$blueBgComments: #f2fbff;
$blueLight: #73b4d5;
$blueSea: #005da1;
$blue: #84aaba;
$blueTwo: #ace2f8;
$blueBorder: #7eb4ca;
$hotpink: hotpink;
$deeppink: deeppink;
$mediumvioletred: mediumvioletred;
$purple: purple;